body {
    font-family: 'Open Sans', sans-serif;

}

.purple{
    color: #6f42c1 !important;
}
.lightGrey{
    color: #6b6f72  !important;
}
.ligthWeight{
    font-weight: 300 !important;
}
.boldWeight{
    font-weight: 600;
}
.no-margin{
    margin: 0 !important;
}
section.h2g-layout.webapp {
    background-color: inherit !important;
    
    header.h2g-layout-header {             
        box-shadow: 0 0 30px 0 #6c63ff7a;
        background-color: #fff;
        padding: 0;   
        .header-container {
            padding: 0 10px;
            .logo-container{
                img{
                    width: 100% ;
                }
            }
            .logo {
                margin-right: 50px;
                flex-grow: 0;
            }

            .menu-container {
                //flex-grow: 1;
                .h2g-menu-horizontal{
                   
                    background-color: inherit !important;
                    border: 0;
                    .h2g-menu-item-selected{
                        color: #fff !important;
                    }
                    .h2g-menu-item {
                        font-size: 17px;          
                        font-weight: 600;               
                        color: #6c63ff;
                    }
                }
            }

            .user-container {}
        }
    }
    section.secondary-menu {       
        .secondary-menu-container {
            li.h2g-menu-item{
                font-size: 16px;
                line-height: 70px;
                font-weight: 900;
            }
          
        }
    }

    main.h2g-layout-content {
       
      
        .site-layout-content{
            min-height: 100vh !important;
            padding: 0 ;           
            background: #fff;
            min-height: 380px;
            .banner{               
                .items{}
            }
        }

    }
}


@media (min-width: 1700px){
    .header-container, .secondary-menu-container, main.h2g-layout-content {
        width: 1600px;
        margin: 0 auto;
        position: relative;
    }
    

    
}
